* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

:root {
    --background-color: #252222;
    --hover-color1: #bbbbbb;
    --hover-color2: #ff4524;
    --text-color: #FFFFFF;
    --primary-color: #ff6347;
    --shadow-color: 0deg 0% 6%;
    --shadow-elevation-medium:
        0.5px 0.6px 0.9px hsl(var(--shadow-color) / 0.37),
        1.6px 2.1px 3px -0.8px hsl(var(--shadow-color) / 0.37),
        4.1px 5.4px 7.6px -1.7px hsl(var(--shadow-color) / 0.37),
        10px 13.1px 18.5px -2.5px hsl(var(--shadow-color) / 0.37);
}

body {
    background: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 50px;
    width: 100%;
    z-index: 3;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    padding: 15px 15px;
    width: 350px;
    transition: background-color .4s ease-in-out;
    border: 1px solid var(--background-color);
    border-radius: 25px;
}



.nav-links-border-active {
    border: 1px solid rgb(49, 49, 49);
    border-radius: 25px;
    background: #2b2b2b;
}

.nav-link {
    cursor: pointer;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    transition: color .2s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--hover-color1);
}

.content-wrapper {
    height: 100%;
    max-width: 1000px;
    top: 200px;
    position: relative;
    margin: 0 auto;
    padding: 0px 0px 15px 15px;
}

/*https://www.joshwcomeau.com/shadow-palette/*/
#intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 200px;
}

@media screen and (max-width:1359px) {
    .content-wrapper {
        width: 800px;
    }
}

.intro-title {
    animation-duration: 1s;

}

.name,
.pd {
    animation-duration: 1.5s;
}

.intro-subtitle {
    animation-duration: 1.6s;
}

.projects-btn {
    animation-duration: 1.7s;
}

.name-wrapper,
.projects-btn,
.intro-subtitle,
.intro-title {
    animation-name: text-slide-in;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100px);
}

@keyframes text-slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.intro-text {
    display: flex;
    flex-direction: column;
    height: 100%;
}


#pfp {
    box-shadow: var(--shadow-elevation-medium);
    animation-name: fade-in;
    animation-duration: 3s;
}

.name-wrapper {
    font-size: 32px;
    margin-bottom: 50px;
    animation-duration: 1.3s;
}


.pd {
    font-size: 100px;
    color: var(--primary-color);
}

.projects-link {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, var(--hover-color2) 0%, var(--hover-color2) 50%, var(--primary-color) 50%, var(--primary-color) 100%);
    /* Gradient background */
    color: #fff;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    background-size: 200% 100%;
    /* Set initial background size */
    background-position: right;
    /* Start position */
    transition: background-position 0.4s ease;
}

.projects-link:hover {
    background-position: left;
    background-color: var(--primary-color);
}

.projects-btn {
    margin-top: 80px;
}


.pfp-wrapper {
    width: 400px;
    height: 400px;

}

#pfp {
    height: 400px;
    width: 350px;
    border-radius: 50%;
}

/*About Section Styling*/
#about-section,
#skill-section,
#experience-section,
#projects-section {
    margin-bottom: 200px;
}

.about-sec-title,
.skill-section-title,
.experience-section-title,
.projects-section-title {
    margin-bottom: 30px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.animated-title {
    opacity: 0;
    transform: translateX(-70px);
    transition: opacity 1s, transform 1s;
    transition-delay: .5s;

}

.animated-title.visible {
    opacity: 1;
    transform: translateX(0px);
}

.about-me-desc {
    line-height: 2em;
    padding: 5px 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
    /* Transition for the slide up effect */
}

.about-me-desc.visible {
    opacity: 1;
    transform: translateY(0);
}



@media screen and (max-width:1023px) {
    .about-me-desc {
        max-width: 700px;
    }
}

/*Skills section styling*/
.skill {
    padding: 5px 5px;
    background: var(--primary-color);
    border: 1px solid #454343;
    border-radius: 5px;
}

.date {
    color: #bbbbbb;
    width: 200px;
}

.experience-container {
    display: grid;
    grid-template-rows: 280px 280 280px;
    grid-template-columns: 200px 700px;
    max-width: 800px;
}

.experience-1,
.experience-2,
.experience-3 {
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.animated-experience-info {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 1s, transform 1s;
}

.animated-experience-info.visible {
    opacity: 1;
    transform: translateX(0px)
}

.experience-desc {
    max-width: 700px;
    line-height: 2em;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks p,
.tech {
    font-weight: 200;
}

.technologies {
    margin-top: 5px;
}

.tech {
    padding: 5px 5px;
    background: transparent;
    border: 1px solid #f5e4e4;
    color: #f3efee;
}


.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-animation {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity .5s, transform 1s;
}

.project-animation.visible {
    transform: translateY(0px);
    opacity: 1;
}

.project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    margin-bottom: 50px;
}

.project-info {
    line-height: 2em;
    width: 500px;
    grid-column: 7 / -1;
    position: relative;
    grid-area: 1 / 6 / 1 / 12;
    z-index: 2;
    text-align: right;

}

.project-img-wrapper {
    grid-column: 1 / 8;
    grid-area: 1 / 1 / 1 / 7;
    position: relative;
    z-index: 1;
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.project-img-wrapper:hover {
    transform: scale(1.1);
}

/* .img-odd {
    grid-area: 1 / 6 / 1 / 12;
} */

/* .info-odd {
    grid-area: 1 / 1 / 1 / 7;
    text-align: left;
} */

.project-img {
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow-elevation-medium);
}

.project-desc {
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid rgb(77, 73, 73);
    background-color: #525151;

}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.project-tech {
    margin-left: 10px;
    font-weight: 200;
}

.project-title-link {
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    transition: color .3s ease-in-out;
}

.project-title-link:hover {
    color: var(--primary-color)
}

a i {
    text-decoration: none;
    color: white;
}

a i {
    cursor: pointer;
    transition: color .3s ease-in-out;
    margin-right: 10px;

}

a i:hover {
    color: var(--primary-color);
}

.footer {
    width: 100%;
    margin-top: 140px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    border-top: 1px solid rgb(70, 68, 68);
    margin: 0 auto;
}